/** HTML5 Reset http://host.sonspring.com/formalize/assets/stylesheets/html.css **/
a,abbr,address,article,aside,audio,b,blockquote,body,caption,cite,code,dd,del,dfn,dialog,div,dl,dt,em,fieldset,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{border:0; margin:0; padding:0; font-size:100%} /** why not border:none **/
article,aside,figure,figcaption,footer,header,hgroup,nav,section,main{display:block}


html{overflow-y:scroll} /** prevent firefox scrollbar jump. firefox hides vertical scrollbar if content < visibile window by default **/
html,body{height:100%}
body{text-align:center; color:#000; -webkit-font-smoothing:antialiased} 
body:before{content:""; position:fixed; top:-15px; left:0; width:100%; height:15px; z-index:100; -webkit-box-shadow:0px 0px 10px rgba(0,0,0,.9); -moz-box-shadow:0px 0px 10px rgba(0,0,0,.9); box-shadow:0px 0px 10px rgba(0,0,0,.9)}




  a:link {color:#FFF;} 
  a:visited {color:#FFF;}  
  a:hover {color:#dda1a1;}  
  a:active {color:#dda1a1;} 
.content
{
  width:100%; height:100%; 

  
  text-align:center; background-color:#fff; -moz-box-shadow:0 0 4px #000; -ms-box-shadow:0 0 4px #000; -o-box-shadow:0 0 4px #000; -webkit-box-shadow:0 0 4px #000; box-shadow:0 0 4px #000
}

 

header{background-color:#fff; height:12%}

main{background-color:#c0c0c0; height:80%; position:relative}

nav
{
   width:150px; height:100%; 
   position:absolute; left:0; top:0; 
   background-color:#201800;
   padding-top: 0px;
}

.maincontent{}

nav ul{}

footer{background-color:#666; height:8%}