#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

a{
  color:#BD2132;
}

a:hover{
  color:#9d1120;
}

#loginbox{
  position: relative;
  /* background-color: #fff; */
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 50px;
  border: 2px solid #fff;
}

.btn-login{
  color: #fff;
  background-color: #BD2132;
}

.btn-login:hover{
  color: #fff;
  background-color: #9d1120;
}

body{ 
	padding-top:80px; 
}