li {
	list-style-type:none;
	display: block;
	border-bottom: 1px solid rgba(0,0,0, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	padding: 15px;
	font-weight: bold;
	text-shadow: 0 1px 0 #000;
	text-decoration: none;
	color: #ccc;
}

li > a{
	float: none;
  	color: #D8D8D8;
  	text-align: center;
  	font-family: 'OpenSansCondBold';
  	font-size:15px;
  	letter-spacing: 1px;
  	text-transform:uppercase;
  	text-decoration: none;
}

li > a:hover, 
li > a:active{
	color: #2F9F75;
 	background-color: transparent;
}

img {
	vertical-align: middle;
}

@font-face {
    font-family: 'OpenSansCondBold';
    src: url('font/OpenSans-CondBold-webfont.eot');
    src: url('font/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-OCondBold-webfont.woff') format('woff'),
         url('font/OpenSans-CondBold-webfont.ttf') format('truetype'),
         url('font/OpenSans-CondBold-webfont.svg#OpenSansCondBold') format('svg');
    font-weight: normal;
    font-style: normal;

}